[client]
port                    = 3306
socket                  = /store/mysql/var/lib/mysql/data/mysql.sock

[mysqld]
datadir=/store/mysql/var/lib/mysql/data/
socket=/store/mysql/var/lib/mysql/data/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

