[Default]
ACT_ADMIN_PORT=21400
ACT_APPENDER_ARCHIVE=false
ACT_BUCKETS=acts
ACT_HTTP_TIMEOUT=15000ms
ACT_LOGGER_LEVELS=com.powatag.common: DEBUG
ACT_LOGGING_LEVEL=INFO
ACT_PORT=21401
ACT_QUERY_TIMEOUT=1000
ACT_URL=
ADDRESS_MASKS_FILE=./addressEncryptionMasks.json
AIM_URL=undefined
AUTHORIZATION_ADMIN_PORT=20100
AUTHORIZATION_APPENDER_ARCHIVE=false
AUTHORIZATION_BUCKETS=authorization
AUTHORIZATION_HTTP_TIMEOUT=15000ms
AUTHORIZATION_LOGGER_LEVELS=com.powatag.common: DEBUG
AUTHORIZATION_LOGGING_LEVEL=INFO
AUTHORIZATION_PORT=20101
AUTHORIZATION_QUERY_TIMEOUT=1000
AUTHORIZATION_URL=
BASKET_ADMIN_PORT=20700
BASKET_APPENDER_ARCHIVE=false
BASKET_BUCKETS=baskets
BASKET_HTTP_TIMEOUT=15000ms
BASKET_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.basket: DEBUG
BASKET_LOGGING_LEVEL=INFO
BASKET_PORT=20701
BASKET_QUERY_TIMEOUT=1000
BASKET_URL=
BILLING_QUERY_TIMEOUT=1000
CACHE_TTL=30
CAS_DELAY=100
CAS_MAX_RETRY_NUMBER=3
CAS_URL=undefined
CATEGORY_ADMIN_PORT=21000
CATEGORY_APPENDER_ARCHIVE=false
CATEGORY_BUCKETS=categories, catalogs
CATEGORY_HTTP_TIMEOUT=15000ms
CATEGORY_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.tag: DEBUG
CATEGORY_LOGGING_LEVEL=INFO
CATEGORY_PORT=21001
CATEGORY_QUERY_TIMEOUT=1000
CATEGORY_URL=
CBHOST=promo-db-vip.{{ ENV }}.{{ ZONE }}
CBPORT=8092
CN2PAY_API_URL=https://www.cn2pay.cn:11717/AppFront/MsgControler
CN2PAY_API_VERSION=1.0.0
COUPON_ADMIN_PORT=21900
COUPON_APPENDER_ARCHIVE=false
COUPON_BUCKETS=promotions
COUPON_HTTP_TIMEOUT=15000ms
COUPON_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.coupon: DEBUG
COUPON_LOGGING_LEVEL=INFO
COUPON_PORT=21901
COUPON_QUERY_TIMEOUT=1000
COUPON_URL=
DATA_CENTRE_FLAG=C
DATA_QUERY_TIMEOUT=1000
DEFAULT_QUERY_TIMEOUT=1000
DONATION_ADMIN_PORT=20600
DONATION_APPENDER_ARCHIVE=false
DONATION_BUCKETS=donations
DONATION_HTTP_TIMEOUT=15000ms
DONATION_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.profile: DEBUG
DONATION_LOGGING_LEVEL=INFO
DONATION_PORT=20601
DONATION_QUERY_TIMEOUT=1000
DONATION_URL=
FILE_COUNT=50
FROM_EMAIL=noreply@powa.com
FULFILLMENT_ADMIN_PORT=21500
FULFILLMENT_APPENDER_ARCHIVE=false
FULFILLMENT_BUCKETS=orders, fulfillment_options
FULFILLMENT_HTTP_TIMEOUT=15000ms
FULFILLMENT_LOGGER_LEVELS=com.powatag.common: DEBUG
FULFILLMENT_LOGGING_LEVEL=INFO
FULFILLMENT_PORT=21501
FULFILLMENT_QUERY_TIMEOUT=1000
FULFILLMENT_URL=
GOOGLE_GEO_CODE_URL=http://maps.googleapis.com/maps/api/geocode/json
HTTP_TIMEOUT=15000ms
IMAGE_AWS_ACCESS_KEY=undefined
IMAGE_AWS_AUTH_TYPE=undefined
IMAGE_AWS_SECRET=undefined
IMAGE_FILESIZE=10485760
IMAGE_QUERY_TIMEOUT=1000
IMAGE_S3_BUCKET=undefined
IMAGE_S3_ENDPOINT=undefined
IMAGE_THUMBNAIL_HEIGHT=640
IMAGE_THUMBNAIL_WIDTH=640
INTERVAL_IN_SECONDS=10
JDBC_URL=jdbc:mysql://:/
MERCHANT_ADMIN_PORT=20400
MERCHANT_APPENDER_ARCHIVE=false
MERCHANT_BUCKETS=merchants
MERCHANT_HTTP_TIMEOUT=15000ms
MERCHANT_LOGGER_LEVELS=com.powatag.common: DEBUG
MERCHANT_LOGGING_LEVEL=INFO
MERCHANT_LOGO_DIR=./merchantLogos
MERCHANT_PORT=20401
MERCHANT_QUERY_TIMEOUT=1000
MERCHANT_URL=
MERCHANT_USER_MODULE_URL=http://tagsit01.powadef.com:20151
MYSQL_PASSWORD=
MYSQL_USER=
NOTIFICATION_ADMIN_PORT=20200
NOTIFICATION_APPENDER_ARCHIVE=false
NOTIFICATION_DEFAULT_LOCALE=en_GB
NOTIFICATION_HTTP_TIMEOUT=15000ms
NOTIFICATION_LOGGER_LEVELS=com.powatag.common: DEBUG
NOTIFICATION_LOGGING_LEVEL=INFO
NOTIFICATION_PORT=20201
NOTIFICATION_QUERY_TIMEOUT=1000
NOTIFICATION_URL=
PAYMENT_ADMIN_PORT=20300
PAYMENT_APPENDER_ARCHIVE=false
PAYMENT_BUCKETS=invoices
PAYMENT_HTTP_TIMEOUT=15000ms
PAYMENT_LOGGER_LEVELS=com.powatag.common: DEBUG,com.powatag.api.payment: DEBUG, org.apache.axis.transport.http.HTTPSender: DEBUG
PAYMENT_LOGGING_LEVEL=INFO
PAYMENT_PORT=20301
PAYMENT_QUERY_TIMEOUT=1000
PAYMENT_URL=
POS_ADMIN_PORT=21800
POS_APPENDER_ARCHIVE=false
POS_BUCKETS=acts
POS_HTTP_TIMEOUT=15000ms
POS_LOGGER_LEVELS=com.powatag.common: DEBUG
POS_LOGGING_LEVEL=INFO
POS_PORT=21801
POS_QUERY_TIMEOUT=1000
POS_URL=
POWA_TAG_ENCODING_URL=http://powat.ag/z?q=
POWADATA_LOG_URL=undefined
PRODUCT_ADMIN_PORT=8079
PRODUCT_APPENDER_ARCHIVE=false
PRODUCT_BUCKETS=product
PRODUCT_HTTP_TIMEOUT=15000ms
PRODUCT_LOGGER_LEVELS=com.powatag.common: DEBUG,com.powa: DEBUG, com.powa.productservice: DEBUG
PRODUCT_LOGGING_LEVEL=INFO
PRODUCT_PORT=8080
PRODUCT_QUERY_TIMEOUT=1000
PRODUCT_URL=
PROFILE_ADMIN_PORT=20800
PROFILE_APPENDER_ARCHIVE=false
PROFILE_BUCKETS=profiles, emails, phonenumbers
PROFILE_HTTP_TIMEOUT=15000ms
PROFILE_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.profile: DEBUG
PROFILE_LOGGING_LEVEL=INFO
PROFILE_PORT=20801
PROFILE_QUERY_TIMEOUT=1000
PROFILE_URL=
PROMOTION_ADMIN_PORT=21700
PROMOTION_APPENDER_ARCHIVE=false
PROMOTION_BUCKETS=promotions
PROMOTION_HTTP_TIMEOUT=
PROMOTION_LOGGER_LEVELS=com.powa: INFO, io.dropwizard.jersey.jackson: DEBUG, org.glassfish.jersey.filter.LoggingFilter: INFO
PROMOTION_LOGGING_LEVEL=INFO
PROMOTION_PORT=21701
PROMOTION_QUERY_TIMEOUT=
REPORT_QUERY_TIMEOUT=1000
RETRY_DELAY=1000
SFTP_DONE_DIR=done
SFTP_HOST=undefined
SFTP_INCOMING_DIR=inbox
SFTP_PASSWORD=undefined
SFTP_PORT=undefined
SFTP_PROCESSING_DIR=processing
SFTP_USER=undefined
SFTP_WORKING_DIR=working
SMTP_HOST=undefined
SMTP_PASSWORD=undefined
SMTP_PORT=undefined
SMTP_TLS_ENABLED=undefined
SMTP_USER=undefined
SYNC_ADMIN_PORT=21600
SYNC_APPENDER_ARCHIVE=false
SYNC_HTTP_TIMEOUT=15000ms
SYNC_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.sync: DEBUG
SYNC_LOGGING_LEVEL=INFO
SYNC_PORT=21601
SYNC_QUERY_TIMEOUT=1000
TAG_URL=undefined
TOKEN_TIME=3600
TRANSACTION_ADMIN_PORT=20900
TRANSACTION_APPENDER_ARCHIVE=false
TRANSACTION_BUCKETS=transactions
TRANSACTION_HTTP_TIMEOUT=15000ms
TRANSACTION_LOGGER_LEVELS=com.powatag.common: DEBUG
TRANSACTION_LOGGING_LEVEL=INFO
TRANSACTION_PORT=20901
TRANSACTION_QUERY_TIMEOUT=1000
TRANSACTION_URL=
UNION_PAY_SHOP_ID=cn2payPaymentshop
UPLOAD_FOLDER_PATH=/temp
WORKFLOW_ADMIN_PORT=20500
WORKFLOW_APPENDER_ARCHIVE=false
WORKFLOW_BUCKETS=tags
WORKFLOW_HTTP_TIMEOUT=15000ms
WORKFLOW_LOGGER_LEVELS=com.powatag.common: DEBUG, com.powatag.api.tag: DEBUG
WORKFLOW_LOGGING_LEVEL=INFO
WORKFLOW_PORT=20501
WORKFLOW_QUERY_TIMEOUT=1000
WORKFLOW_URL=
