#!/bin/bash

export JAVA_HOME=/usr/java/latest
export RMICONSOLE=/usr/local/serverrmiconsole
export RMIHOST="-Djava.rmi.server.hostname={{ inventory_hostname }}"
export JVM_OPTIONS="-Xms128M -Xmx256M -Dprop.file=$RMICONSOLE/conf/rmiConf.properties -Djava.security.policy=$RMICONSOLE/conf/java.policy"

umask 027
$JAVA_HOME/bin/java $RMIHOST $JVM_OPTIONS -jar $RMICONSOLE/bin/ssl-server-2.1.jar >> $RMICONSOLE/logs/serverupdater.log 2>&1 &
